html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px;
  background-color: #ccc;
}

body {
  font-size: 16px;
  font-weight: 400;
}

.header__inner {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
