html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

/* Header */
.header {
  background-color: #151515;
}

.header-main {
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 5;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

/* Footer */
.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: #fff;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
  padding-top: 20px;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.footer__copy {
  font-size: 12px;
  text-align: center;
  max-width: 807px;
  margin: 0 auto 30px;
}

.footer__copy a {
  text-decoration: underline;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main {
  flex-grow: 1;
}

/* Section Top */
.top {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  color: #fff;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
}

.top__link {
  display: inline-block;
  background-color: #151515;
  padding: 23px;
  max-width: 430px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
}

.swiper::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: rgba(21, 21, 21, 0.3);
}



.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}
