html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 50px;
  text-align: center;
  color: #151515;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

/* Header */
.header {
  background-color: #151515;
}

.header-main {
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__list-link {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.menu__list-link--active {
  color: #06f;
}

/* Footer */
.footer {
  background-color: #151515;
  padding: 50px 0 32px;
  color: #fff;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
  padding-top: 20px;
}

.footer__menu-link:hover, 
.footer__menu-link:focus {
  text-decoration: underline;
  color: #06f;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.footer__copy {
  font-size: 12px;
  text-align: center;
  max-width: 807px;
  margin: 0 auto 30px;
}

.footer__copy a {
  text-decoration: underline;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main {
  flex-grow: 1;
}

/* Section Top */
.top {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  color: #fff;
  text-align: center;
  padding-top: 250px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
}

.top__link {
  display: inline-block;
  background-color: #151515;
  padding: 23px;
  max-width: 430px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  opacity: 0.6;
}

.swiper::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: rgba(21, 21, 21, 0.3);
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: #151515;
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  height: 6px;
  background-color: #fff;
}

.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

/* Section why-lease */
.why-lease {
  padding: 150px 0;
}

.why-lease__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  text-align: center;
  color: #151515;
}

.why-lease__item-img {
  margin-bottom: 30px;
}

.why-lease__item-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
}

.why-lease__item-text {
  text-align: left;
}

/* Section How-does */
.how-does {
  padding-bottom: 150px;
}

.how-does__inner {
  max-width: 594px;
  margin: 0 auto;
}

.how-does__title {
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.how-does__list {
  margin-bottom: 70px;
  counter-reset: myCounter;
  list-style: none;
}

.how-does__item {
  position: relative;
  width: 270px;
  margin-left: auto;
  box-sizing: content-box;
  padding: 18.5px 0 18.5px 240px;
  min-height: 63px;
}

.how-does__item + .how-does__item {
  margin-top: 40px;
}

.how-does__item::before {
  position: absolute;
  top: 0;
  left: 0;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06f;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Section Video */
.video {
  padding-bottom: 150px;
}

.video__title {
  margin-bottom: 20px;
}

.video__text {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.video__content {
  display: block;
  margin: 0 auto;
}

/* Section Important */
.important {
  padding-bottom: 150px;
}

.important__title {
  margin-bottom: 20px;
}

.important__text {
  max-width: 580px;
  margin: 0 auto 50px;
}

.important__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.important__item-img {
  margin-bottom: 20px;
}

/* Section Contacts */
.contacts {
  padding: 100px 0 150px;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__text {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  text-align: center;
}

.form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input {
  display: inline-block;
  width: 270px;
  padding: 18px 20px;
  border: 1px solid #06f;
  margin-bottom: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  outline: none;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  opacity: 0.5;
}

.form__textarea {
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid #06f;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: black;
  outline: none;
  margin-bottom: 50px;
}

.form__btn {
  text-transform: uppercase;
  background-color: #151515;
  color: #fff;
  margin: 0 auto;
  padding: 13px 61px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  border: none;
  cursor: pointer;
  transition: background-color .25s linear;
}

.form__btn:hover,
.form__btn:focus {
  background-color: #4f4343;
}

/* Section Blog */
.blog {
  padding-bottom: 150px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 70px;
}

.blog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__item-img {
  margin-bottom: 30px;
  width: 100%;
}

.blog__item-title {
  flex-basis: 446px;
  font-weight: 700;
  font-size: 24px;
}

.blog__item-link {
  background-color: #06f;
  color: #fff;
  padding: 4px 20px;
  align-self: center;
  cursor: pointer;
  transition: background-color .25s linear;
}

.blog__item-link:hover,
.blog__item-link:focus {
  background-color: rgb(86, 147, 239);
}

.blog__btn {
  display: block;
}

/* Section  Choose*/
.choose {
  padding: 100px 0 150px;
}

.tabs {
  margin-bottom: 70px;
}

.tabs__btn {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  gap: 80px;
  margin-bottom: 100px;
}

.tabs__btn-item {
  font-weight: 700;
  font-size: 24px;
  color: #151515;
  background: transparent;
  border: none;
  cursor: pointer;
}

.tabs__btn-item--active {
  color: #06f;
}

.tabs__content-item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px 40px;
}

.tabs__content-item.tabs__content-item--active {
  display: grid;
}

.card {
  text-align: center;
}

.card__img {
  display: block;
}

.card__content {
  padding: 0 5px;
  border: 1px solid #06f;
  border-top: 0;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.card__text {
  margin-bottom: 20px;
}

.card__price {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.card__link {
  display: inline-block;
  border: 1px solid #06f;
  border-top: 0;
  width: 100%;
  height: 25px;
}

.menu__btn {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.menu__btn span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.card__img {
  width: 100%;
}

/* Media queries */
@media (max-width: 1180px) {
  .important__list {
    gap: 30px 20px;
  }
  .important__item-img {
    width: 100%;
  }
  .tabs__content-item {
    grid-template-columns: repeat(3, 1fr);
  }
  .tabs__btn {
    padding: 0;
    gap: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1110px) {
  .blog__item-title {
    margin-bottom: 10px;
  }
  .blog__item-link {
    margin-left: auto;
  }
}

@media (max-width: 1040px) {
  .video__content {
    width: 100%;
  }
}

@media (max-width: 860px) {
  .header__inner {
    align-items: center;
  }
  .menu__btn {
    display: flex;
  }
  .menu__btn,
  .logo {
    position: relative;
    z-index: 10;
  }
  .menu__list {
    position: absolute;
    background-color: #151515;
    flex-direction: column;
    align-items: center;
    inset: 0;
    height: 100vh;
    padding-top: 200px;
    z-index: 5;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  .menu__list.menu__list--active {
    transform: translateY(0%);
  }
  .why-lease__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .important__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .tabs__content-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 70px;
  }
  .top__link {
    padding: 16px;
    max-width: 360px;
    font-size: 28px;
  }
  .swiper-pagination-bullet {
    width: 60px;
  }
  .swiper-pagination-bullet-active {
    height: 4px;
  }
  .video__content {
    height: 400px;
  }
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (max-width: 650px) {
  .tabs__content-item {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .tabs__btn-item {
    font-size: 18px;
  }
  .blog {
    padding-bottom: 50px;
  }
  .blog__list {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 40px;
  }

  .choose {
    padding: 50px 0;
  }
  .contacts {
    padding: 50px 0;
  }
  .form__input {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 60px;
  }

  .top__link {
    max-width: 310px;
    font-size: 24px;
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 10px;
  }
  .swiper-pagination-bullet {
    width: 35px;
  }
  .why-lease__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .why-lease {
    padding: 50px 0;
  }
  .section-title {
    font-size: 34px;
  }
  .how-does {
    padding-bottom: 50px;
  }
  .how-does__list {
    padding: 30px 0 40px;
  }
  .video__content {
    height: 200px;
  }
  .how-does__title {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .how-does__item {
    padding: 65px 0 19px 0;
    margin-right: auto;
  }
  .how-does__item::before {
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    font-size: 32px;
  }
  .how-does__item + .how-does__item {
    margin-top: 0;
  }
  .how-does__list {
    margin-bottom: 0;
  }
  .video {
    padding-bottom: 50px;
  }
  .important {
    padding-bottom: 50px;
  }
  .important__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .app,
  .copy__nav-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .tabs__btn {
    flex-direction: column;
  }
}
